/* ==== Google font ==== */
@import url('http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic|Montserrat:700|Merriweather:400italic');


body {
    width: 100%;
    height: 100%;
    font-family: 'Lato',sans-serif;
	font-weight: 300;
    color: #666;
    background-color: #fff;
}

html {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 20px;
   
    font-family: Montserrat,sans-serif;
   
  }

p {
    margin: 0 0 20px;
    font-size: 16px;
    line-height: 1.6em;
}

p.lead {
	font-weight: 600;
}

a {
    color: #28c3ab;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #176e61;
}

.light {
    font-weight: 400;
}


.ulbar li {
	  display: inline-block;
	  padding: 0px 5px 0px 5px;
	  border-right: 1px solid #E7E7E7;
	  margin-bottom:0px;

}
.ulbar li:last-child {

	  border-right: 0px;

}

.navbar {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
}

.nav.navbar-nav {
background-color: rgba(0,0,0,.4);
}

.navbar-custom.top-nav-collapse .nav.navbar-nav {
  background-color: rgba(0,0,0,0);
}


.navbar-custom ul.nav li a {
	font-size: 12px;
	letter-spacing: 1px;
    color: #FFF;
	text-transform: uppercase;
	font-weight: 700;
}

.navbar-custom.top-nav-collapse ul.nav li a {
	    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
	color: #fff;
}

.navbar-custom ul.nav ul.dropdown-menu {
	  border-radius: 0;	
}

.navbar-custom ul.nav ul.dropdown-menu li {
	border-bottom: 1px solid #f5f5f5;

}

.navbar-custom ul.nav ul.dropdown-menu li:last-child{
	border-bottom: none;
}

.navbar-custom ul.nav ul.dropdown-menu li a {
	padding: 10px 20px;
}

.navbar-custom ul.nav ul.dropdown-menu li a:hover {
	background: #fefefe;
}

.navbar-custom.top-nav-collapse ul.nav ul.dropdown-menu li a {
	color: #666;
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus{
    outline: 0;
    background-color: rgba(255,255,255,.2);
	 border-bottom: 2px solid #FD9539;
}

.navbar-toggle {
    padding: 4px 6px;
    font-size: 34px;
    color: #fff;
    float:left; 
}

.navbar-toggle:focus,
.navbar-toggle:active {
    outline: 0;
}
.nav-tabs>li{
	 width:50%;
}
.nav-tabs>li>a {
    margin-right: 1px;
    border: 1px solid transparent;
    border-radius:0;
    text-align: center;
   
     color: #FFF;
    background-color: #CCC;
}
.nav-tabs>li>a:hover {
    color: #FFF;
    background-color: #C0C0C0;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    color: #FFF;
    background-color: #FC9439;
   }
.tab-content>.tab-pane {
    margin:50px 50px 50px 20px; 
}

#registration .headerbox{
  display: block;
   width:100%;
  padding-top: 10px ;
   padding-bottom: 10px ;
   margin: 0px 0px 40px 0px;
    border: 1px solid transparent;
    border-radius:0;
    text-align: center;
     color: #FFF;
    background-color: #CCC;
}
#socialshare{
  float: right;
  display: inline-block;
  position: absolute;
  right:-200px;
  top: 5px;
  width:240px;
   -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -ms-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
 }
#socialshare:hover {
  right:0;
}
#socialshare a img {
   margin-right: 40px;

}

#socialshare .iconsocial,
#socialshare .iconshare
{
  display: inline-block;
}

#socialshare .icon-social.icon-facebook {
  background: #FFF;
}
#socialshare .icon-social.icon-facebook:hover {
  background: #FC9439;
}
#socialshare .icon-social.icon-twitter {
  background: #FFF;
}
#socialshare .icon-social.icon-twitter:hover {
  background: #FC9439;
}
#socialshare .icon-social.icon-linkedin {
  background:#FFF;
}
#socialshare .icon-social.icon-linkedin:hover {
  background:#FC9439;
}
#socialshare .icon-social.icon-google-plus {
  background: #FFF;
}
#socialshare .icon-social.icon-google-plus:hover {
  background: #FC9439;
}
#socialshare .icon-social.icon-pinterest {
  background: #FFF;
}
#socialshare .icon-social.icon-pinterest:hover {
  background: #FC9439;
}
#socialshare .icon-social.icon-youtube {
  background: #FFF;
}
#socialshare .icon-social.icon-youtube:hover {
  background: #FC9439;
}
#socialshare .icon-social {
  color: #000;
  text-align:center; 
}
#socialshare .icon-social:hover {
  color: #000;
}
.img-responsive { 
display: inline;
}
/* misc */
hr {
  margin-top: 10px;
}

/* margins */
.marginbot-0{margin-bottom:0 !important;}
.marginbot-10{margin-bottom:10px !important;}
.marginbot-20{margin-bottom:20px !important;}
.marginbot-30{margin-bottom:30px !important;}
.marginbot-40{margin-bottom:40px !important;}
.marginbot-50{margin-bottom:50px !important;}

/* ===========================
--- General sections
============================ */
.col-centered-fixed{
     text-align:center; 
     width:360px; 
   }

.home-section {
    padding-top: 70px;
    padding-bottom: 50px;
	  display:block;
    position:relative;
    z-index:120;
}
.section-heading  {
   text-transform: uppercase;
	display:block;
	width:100%;
	margin-right:85px;
}

.section-heading h2 {
	font-size: 30px;
   font-weight: 500;
   line-height: 30px;
    font-weight: 700;
}
.section-heading h3 {
   font-weight: 100px;
   line-height: 30px;
   margin-bottom:5px;
}
.section-heading i {
	margin-bottom: 20px;
}


/* --- section bg var --- */

.bg-white {
	background: #fff;
}

.boxed-grey {
  background: #f9f9f9;
  padding:10px;
  margin-right: 20px;
}
.bg-gray {
	background: #f8f8f8;
}
.bg-orange {
	background: #FC9439;
	color:#FFF;
}

.bg-dark {
	background: #575757;
}

.dark-font {
  color:#575757;
}

/* --- section color var --- */

.text-light {
	color: #fff;
}



/* ===========================
--- Intro
============================ */
#intro .item {
  -moz-transition: opacity ease-in-out 500ms;
  -o-transition: opacity ease-in-out 500ms;
  -webkit-transition: opacity ease-in-out 500ms;
  transition: opacity ease-in-out 500ms;
  right: 0px;
  top: 0px;
  width:100%;
  position: absolute;
  height:700px;
  display: block;
  opacity:0.45;
  background-color:#000;
  z-index:-1; 
}
.intro {
	width:100%;
	position:relative;
	background: url(../assets/slider_bg_c4a.jpg) no-repeat top center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  height:700px; 

}
 
#intro.intro {
	padding:10% 0 0 0;
  z-index:10; 
}

.intro .slogan {
	text-align: center;
  margin-bottom: 170px;
 }

.intro .logo {
 background:url(../assets/c4alogo.png) no-repeat top center; 
 height: 108px;
 width: 221px;
 margin-left: auto;
 margin-right:auto; 
 
}

.intro-text {
    font-size: 18px;
}

.intro .slogan h2 {
	color: #FFF;
	text-shadow: none;
	font-size: 60px;
	line-height: 60px;
	font-weight: 700;
	font-family: Montserrat, sans-serif;
	background-color: rgba(0, 0, 0, 0);
	text-decoration: none;
	text-transform: uppercase;
	border-width: 0px;
	border-color: #000;
	border-style: none;
	text-shadow: -1px 0 1px #000;
}

.intro .slogan h4 {
	color: #fff;
	text-shadow: -1px 1px 1px #000;
}

.intro .network-btn {
  position: relative;
  margin-left: auto;
  margin-right:auto;
 text-align: center; 
 }

/*============================
--- Rounded action btn
=========================== */

.btn {
  font-weight: 200;
  border: 0;
  line-height:40px; 
}

  .btn.btn-rounded-orange {
  background-color: #FC9439;
  height:50px;
   width:250px;
   font-size:25px;
  line-height:40px;
  padding:5px 5px 5px 5px;
  border-radius:30px/30px;
  text-align:center;
  color:#FFF; 

  }
.btn.btn-rounded-orange:hover,
.btn.btn-rounded-orange.active {
	color: #FFF;
	background-color: red;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.btn-rounded-orange.focus, .btn-rounded-orange:focus {
  background-color: #666;
  border-bottom-color: #CCC;
  border-left-color: #CCC;
  border-right-color: #CCC;
  border-top-color: #CCC;
  color: #FD9539;
}


.btn.btn-black {
  background-color: #000;
  height:50px;
   width:100%;
  padding:5px 5px 5px 5px;
  border-radius:0;
  text-align:center;
  color: #FFF;

  }
.btn.btn-black:hover,
.btn.btn-black.active {
  color: #FFF;
  background-color: #CCC;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-black.focus, .btn-black:focus {
  background-color: #666;
  border-bottom-color: #CCC;
  border-left-color: #CCC;
  border-right-color: #CCC;
  border-top-color: #CCC;
  color: #FD9539;
}

.icon-nav {
  border: 0px none currentColor;
  border-radius: 100%;
  color: #FD9539;
  display: inline-block !important;
  height: 30px;
  width: 30px;
  text-align: center;
  font-size:20px;
  padding:5px;
  margin-bottom:8px;
  margin-left:10px;
  margin-right:3px;
  background-color:#F3F3F3;
  vertical-align:middle;
}
.icon-nav:hover,
.icon-nav:active
 {
  color:#FFF;
  background-color:#FD9539;
}


/*************************
*******Event countdown******
**************************/

#event {
  color: #FFF;
  background-color: #C34C39;
  background-image: url("../assets/event-bg.jpg");
  background-position: center bottom;
  background-size: contain;
  background-repeat:no-repeat;
  position: relative;
  overflow: hidden;
  padding: 130px 0 100px;
}

.watch {
  position: absolute;
  left: 0;
  top: 7%;
}


#countdown {
  display: block;
  overflow: hidden;
  text-align: center;
  padding: 0
}

#countdown li {
  list-style: none;
  display:inline-block;
  margin-right: 40px;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  position: relative;
}

#countdown li:last-child {
  margin-right: 0
}

#countdown li span {
  display: block;
  font-size: 40px;
  font-weight: 700;
  height: 82px;
  line-height: 79px;
  width: 75px;
  border-radius: 10px;
  border-right: 1px solid #9e3e2e;
  border-bottom: 1px solid #9e3e2e;
}

#countdown li .days {
  background-color: #45b29d;
  border-top: 1px solid #6ac1b1;
  border-left: 1px solid #6ac1b1;
}

#countdown li .hours {
  background-color: #efc94c; 
  border-top: 1px solid #f2d470;
  border-left: 1px solid #f2d470;
}

#countdown li .minutes {
  background-color: #e27a3f;
  border-top: 1px solid #e89565;
  border-left: 1px solid #e89565;
}

#countdown li .seconds {
  background-color: #df5a49;
  border-top: 1px solid #e57b6d;
  border-left: 1px solid #e57b6d;
}

#countdown li:before {
  background-color: #FFFFFF;
  content: "";
  height: 11px;
  left: 0;
  position: absolute;
  top: 36px;
  width: 1px;
}

#countdown li:after {
  background-color: #FFFFFF;
  content: "";
  height: 11px;
  right:0;
  position: absolute;
  top: 36px;
  width: 1px;
}






 
/* ===========================
--- Services
============================ */

.service-icon {
	margin-bottom: 20px;
}	

/* ===========================
--- facts
============================ */

.fact-box {
	height: auto;
	max-width:200px;
	text-align:center;
	padding-top:20px;
	margin:20px;
}	

.fact-desc .number {
	display:block;
	font-size:36px;
	font-weight: 500;
	text-align:center;
}
.fact-desc .desc {
	display:block;
	font-size:24px;
	font-weight: 300;
	text-align:center;
	text-transform:uppercase;
}

#fact .row{
 border-bottom: 1px solid #FFF;
}
#fact .row:last-child {
 border-bottom: none;
}
#fact .col-line {
 border-left: 1px solid #FFF;
}
#fact .col-line:first-child {
 border-left:none;
}

/* ===========================
--- Blog
============================ */
#blog{
	 border-bottom: 1px solid #CBCBCB ;
}

#blog .container{
     width: 100%;
   }
#blog .col-md-5,
#blog .col-sm-6{
  padding-right: 0px;
  padding-left: 0px;
}
#blog .item {
  -moz-transition: opacity ease-in-out 500ms;
  -o-transition: opacity ease-in-out 500ms;
  -webkit-transition: opacity ease-in-out 500ms;
  transition: opacity ease-in-out 500ms;
  right: 0px;
  top: 0px;
 position: absolute;
  width:100%;
  height:411px;
  display: block; !important;
  opacity: 0.7;
  background-color:#000;
  z-index:0; 
}
.widget-contact {
  text-align: left;
  margin-left: 40px;
  margin-top: 5%;
  position: relative;

}

.blog .widget-contact {
  color:#FFF;
   margin-top: 20%;
}

.blog{
 background: url(../assets/blog-bg.jpg) no-repeat top center;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  width:100%;
  padding-left: 0px;
  height:411px;
  background-color:#000;
  float:right;  
}

#blog .btn {
  height: 50px;
  border-bottom-color: #FFF;
  border-left-color: #FFF;
  border-right-color: #FFF;
  border-top-color: #FFF;
  border-radius: 0px;
  margin-left:0px;
  display:inline-block;
  line-height:20px; 
}

/* ===========================
--- form
============================ */
form#form .form-group label {
  text-align: left !important;
  display: block;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
}
form#form input,form#form select,form#form textarea {
  border-radius: 0;
  border: 1px solid #eee;
  -webkit-box-shadow: none;
          box-shadow:  none;
}

form#form input:focus,form#form select:focus,form#form textarea:focus {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
          box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}
.input-group-addon {
  background-color: #fefefe;
  border: 1px solid #eee;
  border-radius: 0;
}


/* ===========================
--- NewsLetter
============================ */
.newsletter-form { 

border: 0px none currentColor;
box-shadow: none;
margin-left: 0px;
margin-right: 0px;
padding-bottom: 5px;
padding-top: 5px;
width: auto;
display:inline-block;
}
.newsletter-form .form-group { 
display: inline-block;
margin-bottom: 0px;
vertical-align: middle;
}

.newsletter-form input[type='email']{
width: 260px;
border: 1px  thin #FFF;
padding: 8px;
font-size: 14px;
margin-left:0px;
margin-right:0px;
 height: 50px;
display:inline-block;
}

/* ===========================
--- Footer
============================ */
#footer {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #999;
  text-align:center;
 
}

#footer a {
  color: #999;
}
#footer a:hover {
  color: #FF9500;
}

#footer select{
  border: none;
}
ul.social {
  list-style: none;
  margin: 10px 0 0;
  padding: 0;
}
ul.social > li {
  margin: 0 0 20px;
  display: inline-block;
}
ul.social > li > a {
  display: block;
  font-size: 18px;
}
ul.social > li > a i {
  margin-right: 10px;
}
.icon-social {
  border: 0;
  color: #fff;
  border-radius: 100%;
  display: inline-block !important;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  padding: 0;
}
#footer .icon-social.icon-facebook {
  background: #BBB;
}
#footer .icon-social.icon-facebook:hover {
  background: #4f7dd4;
}
#footer .icon-social.icon-twitter {
  background: #BBB;
}
#footer .icon-social.icon-twitter:hover {
  background: #5bceff;
}
#footer .icon-social.icon-linkedin {
  background: #BBB;
}
#footer .icon-social.icon-linkedin:hover {
  background:#06C;
}
#footer .icon-social.icon-google-plus {
  background: #BBB;
}
#footer .icon-social.icon-google-plus:hover {
  background: #dc422b;
}
#footer .icon-social.icon-pinterest {
  background: #BBB;
}
#footer .icon-social.icon-pinterest:hover {
  background: #cb2027;
}
#footer .icon-social.icon-youtube {
  background: #BBB;
}
#footer .icon-social.icon-youtube:hover {
  background: #ce332d;
}
#footer .icon-social:hover {
  color: #fff;
}

/* Media queries */

@media(min-width:767px) {

    .navbar {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
        background-color: #000;
     }

 .navbar-custom.top-nav-collapse {
        border-bottom: 1px solid rgba(255,255,255,.3);
    }
	
    

}

@media (max-width:1024px) {
  
.tab-content>.tab-pane {
    margin:50px 20px 50px 10px; 
}

.col-centered-fixed{
     text-align:center; 
     width:350px; 
}
.intro .slogan {
  margin-bottom: 60px;
 }
.watch{
  display: none;
}
 #countdown li {
    font-size: 14px;
    margin-right:20px;
    width:inherit;
  }
  #fact .col-line {
 border-bottom: 1px solid #FFF;

}
 
  #fact .col-line:nth-last-child(2) {
 border-bottom:none;
 border-left: none;
}
  #fact .col-line:last-child {
 border-bottom:none;
}

.intro .slogan {
   margin-bottom: 80px;
 }
.section-heading h2 {
  font-size: 20px;
   font-weight: 100;
   line-height: 20px;
}
.section-heading h3 {
  font-size:15px;
  line-height:15px;
   
}
 .newsletter-form input[type='email']{
width: 150px;
padding: 5px;
font-size: 15px;
height: 50px;
}
}

@media (max-width:768px) {
.navbar {
  background-color: rgba(0,0,0,.5);
}
.navbar-custom .nav li a{
      background-color: rgba(0,0,0,.6);
}
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus{
      background-color: rgba(0,0,0,.8);
}

.tab-content>.tab-pane {
    margin:50px 10px 50px 10px; 
}

.col-centered-fixed{
     text-align:center; 
     width:200px; 
}
.intro {
  background-position: 20% 60%;
 
}

.intro .slogan h2 {
 margin-top: 20px;
  font-size: 50px;
  font-weight: 300;
  line-height: 50px;
}
.intro .slogan {
  margin-bottom: 40px;
 }
 
.intro .logo {
  margin-top: 50px;
}
#event{
  text-align: center;
}

  #countdown li {
    font-size: 14px;
    margin-right:35px;
    width:inherit;
  }

  #countdown li span {
    font-size: 24px;
    height: 60px;
    line-height: 60px;
    width: 60px;
  }

  #countdown li:before, 
  #countdown li:after {
    top:25px;
    display: none;
  }
.fact-box {
    margin:10px;
} 
.widget-contact {
  text-align: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
 }
 .section-heading  {
 margin-right: auto;
 margin-left: auto;
}
.ulbar {
    
    padding-left:0px;
}
.ulbar li {
    display: block;
    padding:5px;
    border-right:none;
}
}

@media (max-width:480px) {

	.navbar.navbar-custom.navbar-fixed-top {
		margin-bottom: 30px;
	}
  .nav-tabs>li{
   width:100%;
}
.tab-content>.tab-pane {
    margin:50px 10px 50px 10px; 
}

.col-centered-fixed{
     text-align:center; 
     width:100%; 
}


.contentsection{
  display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    /* optional */
    -webkit-box-align: start;
    -moz-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
   
}
 .contentsection .formsection {

 /*display:none;*/
margin-left:auto;
margin-right:auto;
-webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
}

 .contentsection .imgsection {
 
 display:block;
 margin-left:auto;
margin-right:auto;
-webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
  
 }




.intro .logo {
  margin-top: 60px;
}
	.intro .slogan h2 {
 margin-top: 20px;
  font-size: 30px;
  font-weight: 300;
  line-height: 30px;
}

	.intro .slogan {
  margin-bottom: 70px;
 }
 #socialshare{
  right:-160px;
  width:200px;
 }


  #countdown li {
    font-size: 12px;
    margin-right:10px;
    width:inherit;
  }
   #countdown li p {
   font-size: 8px;
  }

  #countdown li span {
    font-size: 20px;
    height: 40px;
    line-height: 40px;
    width: 40px;
  }

  #countdown li:before, 
  #countdown li:after {
    top:15px;
  }
 .fact-box {
    margin:5px;
} 
.fact-desc .number {
 
  font-size:26px;

}
.fact-desc .desc {
 
  font-size:14px;
 
}

.newsletter-form input[type='email']{
width: 160px;
padding: 5px;
font-size: 15px;
height: 50px;
}
}

@media (max-width:320px) {
.nav-tabs>li{
   width:100%;
}
.tab-content>.tab-pane {
    margin:50px 10px 50px 10px; 
}

.col-centered-fixed{
     text-align:center; 
     width:100%; 
}

.btn.btn-rounded-orange {
  
   width:200px;
   font-size:20px;
  line-height:40px;
  
  }
  .intro .slogan h2 {
 margin-top: 20px;
  font-size: 20px;
  font-weight: 300;
  line-height: 20px;
}

  .intro .slogan {
  margin-bottom: 80px;
 }
 
.fact-desc .number {
 
  font-size:20px;

}
.fact-desc .desc {
 
  font-size:12px;
 
}

.section-heading h2 {
  font-size: 20px;
   font-weight: 500;
   line-height: 20px;
}
.section-heading h3 {
  font-size:15px;
  line-height: 15px;
   margin-bottom:5px;
}
.newsletter-form input[type='email']{
width: 150px;
padding: 5px;
font-size: 15px;
height: 40px;
margin-bottom: 20px;
}
}